<!DOCTYPE html>
<html lang="ko"
      xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>게시물</title>
</head>
<body>
<table border="1">
    <caption>게시물 리스트</caption>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>이름</th>
        <th>날짜</th>
        <th>조회수</th>
    </tr>
    <tr th:if="${not #lists.isEmpty(list)}" th:each="dto: ${list}">
        <td th:text="${dto.no}" />
        <td><a th:href="@{detail(no=${dto.no})}" th:text="${dto.title}" /></td>
        <td th:text="${dto.name}" />
        <td th:text="${#calendars.format(dto.regdate, 'yyyy-MM-dd')}" />
        <td th:text="${dto.readcount}" />
    </tr>
</table><br/>
<div >
    <ul  style="list-style-type: none; padding: 0;">
        <!-- Previous Page Link -->
        <li style="display: inline; margin-right: 10px;"
            th:if="${currentPage > 1}">
            <a th:href="@{/list2(page=${currentPage - 1})}">이전</a>
        </li>
        <!-- Page Number Links -->
        <li style="display: inline; margin-right: 10px;"
            th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
            th:class="${pageNum == currentPage ? 'active' : ''}">
            <a th:href="@{'/list2?page=' + ${pageNum}}">[[${pageNum}]]</a>
        </li>
        <!-- Next Page Link -->
        <li style="display: inline; margin-right: 10px;"
            th:if="${currentPage < totalPages}">
            <a th:href="@{/list2(page=${currentPage + 1})}">다음</a>
        </li>
    </ul>
</div>
<a href="insert">글쓰기</a>
</body>
</html>
